html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #201c29, #100e17);
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

html::-webkit-scrollbar-track {
  background: linear-gradient(to right, #201c29, #201c29 1px, #100e17 1px, #100e17);
}

html::-webkit-scrollbar-resizer {
  background: rgb(1, 22, 39);
}

ul.tags {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-end: 0px;
}
.tags {
  list-style: none;
  padding-left: 0;
  display: inline-block;
}

.tags li {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.tags .tag {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 5px 10px;
  display: inline-block;
  margin: 0 10px 10px 0;
}

.tag:hover {
  transition: all 0.2s;
  background-color: crimson;
  color: white;
}

.tag:hover::after {
  border-left-color: crimson;
}

.tags a {
  text-decoration: none;
}

.body {
  background: #201c29 !important;
  color: hsl(0, 0%, 100%) !important;
}

.header {
  background: rgb(21, 24, 24);
  color: #ffffff;
  top: 0;
  left: 0;
  position: fixed;
  height: 150px;
  width: 100%;
}

.footer {
  background: rgb(21, 24, 24);
  color: #ffffff;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 150px;
  width: 100%;
}

.span {
  padding-left: 0;
  margin-left: 40px;
  margin-top: 10px;
  display: inline-block;
}

.span a::after {
  display: inline-block;
  color: #ffffff;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}
.name {
  color: #ffffff;
}
.title {
  color: #cccccc;
}
.copyright {
  color: #ffffff;
}
